html{
  background-color: #a3080c;

  width: 100%;
}
#wrapper {
  font-family: "Arvo", serif;
  background-color: #a3080c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}


main {
  margin: 75px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  background-color: #a3080c;
  top: 0px;
  position: fixed;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#header-img {
  filter: invert(100%);
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 #video{
    width: 100%;
   height: 100%;
  }
.feature {
  width: 40%;
}
.feature h3 {
  color: orange;
}
#pricing {
  display: flex;
  flex-direction: row;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  width: 250px;
  margin: 0px 20px 0px 20px;
  height: 300px;
}
.pricing-header {
  width: 100%;
  background-color: #f5d4b7;
  text-align: center;
  color: #a3080c;
}
.pricing-content {
  width: 100%;
  text-align: center;
}
.pricing-content p {
  padding: 20px;
}

.buy-button {
  width: 100%;
  height: 60px;
  font-family: "Arvo", serif;
  color: #a3080c;
  background-color: #fff1e2;
  align-self: flex-end;
}
#form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#email {
  height: 20px;
  width: 50%;
  margin-right: 20px;
  border-radius: 5px;
}
#submit {
  height: 30px;
  width: 20%;
  font-family: "Arvo", serif;
  color: #a3080c;
  background-color: #fff1e2;
  align-self: flex-end;
}

@media (max-width: 450px) {
  header {
    background-color: #a3080c;
    top: 0px;
    position: fixed;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #header-img {
  width: 35%;
}
  nav > ul {
  display: flex;
  flex-direction: column;
}
li {
    justify-content: space-between;

  margin-left: 20px;
}
  main {
    margin: 100px 0px 0px 0px;
  }
  h1{
    font-size: 2rem;
    overflow: wrap;
  }
  .feature{
    width: 100%;
  }
  #pricing {
    display: flex;
  flex-direction: column;
    background-color: #a3080c;
}
  .price{
    margin-bottom: 20px;
  }
  #submit {

  width: 30%;

}


}
 